*{
  font-size:100%;
  font-family: sans-serif;
}

/*background1*/
.bg{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(22, 11, 140, 0.621), rgba(241, 8, 8, 0.352)), url(img/fruitbackground.jpg);
  opacity: 0.9;
  background-size: cover;
  background-position: center; 
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/*background2*/
.bg2{   
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(9, 87, 79, 0.641), rgba(44, 7, 80, 0.841)), url(img/blueberry.jpg);
  opacity: 0.9;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/*background3*/
.bg3{   
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(5, 63, 19, 0.641), rgba(201, 207, 36, 0.6)), url(img/kiwi.jpg);
  opacity: 0.9;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/*review*/
.review{   
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(rgba(63, 46, 5, 0.641), rgba(201, 207, 36, 0.6)), url(img/banana.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/*fontsetting*/
small {
  color: white;
  font-weight: 200;
  font-size: 1em;
  letter-spacing: 0.2em;
 
}

h1{
  font-size: 100px
}

.ml16 {   
  color: white;
  padding: 45px 0px;
  padding-left: 30px;
  font-weight: 800;
  font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  overflow: hidden;
}

@media (max-width: 768px) {
  .ml16 {
    color: white;
    padding-left: 30px;
    padding-top: 60%;
    font-weight: 800;
    font-size: 3.5em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
}




.ml3 {
  font-weight: 900;
  font-size: 1em;
}

.ml4 {
  font-weight: 900;
  font-size: 1em;
}

.ml16 .letter {
  display: inline-flex;
  line-height: 1em;
}

.content {
  color: #fbfcfd;
  position: absolute;
  padding-top: 40%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 2
}


.content2 {
  color: #fbfcfd;
  position: absolute;
  padding-top: 50%;
  left: 60%;
  transform: translateY(-50%);
  z-index: 2
}

html {
  background-color: #1d1f22;
}
/*Loader*/
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}
@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#loader {
  position: absolute;
  left: 47%;
  top: 27%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  background: white;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

footer {
  padding: 30px;
  color: #fff;
  background-image: linear-gradient(rgba(22, 23, 24, 0.965), rgba(25, 26, 25, 0.848)), url(img/blackberry.jpg);
  opacity: 1;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.pic1 {
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 10%;
  left: 5%;
}

.w3-row-padding{
  webkit-text-size-adjust: 100%;
  font-size: 15px;
  line-height: 1.5;
  left: 5%;
  right: 10%;
  position: relative;
  color: #fbfcfd;
}

.w3-col{
  margin-top: 1rem;
  float: left;
  width: 40%;
  color: #fbfcfd;
  
}

.w3-col p{
  color: #000;
}

.w3-col h3{
  padding-top: 1rem;
}
.fh{
  padding-top: 3rem;
}

.w3-row-padding h2{
  margin-left: 1px;
  font-size: 50px;
  padding-top: 1px;
}


.align-center {
    text-align: center;
}
.hash-list {
    display: block;
    padding: 0;
    margin: 0 auto;
}

@media (min-width: 768px){
    .hash-list.cols-3 > li:nth-last-child(-n+3) {
        border-bottom: none;
    }
}
@media (min-width: 768px){
    .hash-list.cols-3 > li {
        width: 33.3333%;
    }
}
.hash-list > li {
    display: block;
    float: left;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pad-30, .pad-30-all > * {
    padding: 30px;
}
img {
    border: 0;
}
.mgb-20, .mgb-20-all > * {
    margin-bottom: 20px;
}
.wpx-100, .wpx-100-after:after {
    width: 100px;
}
.img-round, .img-rel-round {
    border-radius: 50%;
}
.padb-30, .padb-30-all > * {
    padding-bottom: 30px;
}

.mgb-40, .mgb-40-all > * {
    margin-bottom: 20px;
}
.align-center {
    text-align: center;
}
[class*="line-b"] {
    position: relative;
    padding-bottom: 20px;
    border-color: rgb(5, 4, 1);
}
.fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
    color: #222;
}
.font-cond-b {
    font-weight: 700 !important;
}



.fa-shopping-cart{
    position: relative;
}
.num-cart-product{
    position: absolute;
    top: -17px;
    right: -17px;
    width:25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: #0b9d8a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    animation: fade 0.3s;
}


.span{
    width:25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50%;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    animation: fade 0.3s;
}

.span:hover{
  color: gray;
  transition: all ease 0.2s;
}
 

.sale{
    width:95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
  
}
.sale-box{
    width:280px;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    flex-grow: 0.5;
}
.sale-box img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center right;
}
.sale-text{
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%,-50%);
    display: flex;
    flex-direction: column;
}
.sale-box a{
    color: #1b1919;
}
.sale-text strong{
    font-size: 1.2rem;
    font-weight: 500;
    width: 80%;
    line-height: 23px;
}

.arrival-heading strong{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #1b1919;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px 30px;
    border: 1px solid #e0e0e0;
}
.arrival-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.arrival-heading strong{
    color: #ffffff;
    background-color: #202020;
    font-weight: 500;
}
.arrival-heading p{
    color: #808080;
    margin: 10px;
    font-size: 0.9rem;
}
.product-container{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 70px;
}
.product-box{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    margin: 20px;
}
.product-img{
    width:200px;
    height: 210px;
    margin: 20px;
    cursor: pointer;
    position: relative;
}
.product-img img{
    width:100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #f3f3f3;
}
.p-name{
    color: #727272;
}
.p-price{
    color: #333333;
    font-size: 1.2rem;
    font-weight: 400;
}
.product-box:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}
.add-cart{
    position: absolute;
    right: -20px;
    top: 10px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #0b9d8a;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    display: none;
    animation: fade 0.3s;
 
}
.add-cart:hover{
    background-color: #f76b6a;
    transition: all ease 0.2s;
}
.product-box:hover .add-cart{
    display: flex;
}
.new-arrival{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-menu a{
    margin: 0px 30px;
    font-size: 1.2rem;
    color:white;
}

.sale-lable{
    width:38px;
    height: 17px;
    background-color: #f76b6a;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    right: -20px;
}
.sale-lable:after{
    content: '';
    width:0px;
    height: 0px;
    border-bottom: 5px solid transparent;
    border-left: 3px solid transparent;
    border-top: 7px solid #f76b6a;
    border-right: 5px solid transparent;
    position: absolute;
    left: 10%;
    top: 100%;
}

.banner-box{
    width:100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/blackberry.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
 
.banner-text-container{
    width:80%;
    height: 90%;
    display: flex;
    align-items: center;
}
 
.banner-text{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
 
.banner-text strong{
    color: white;
    font-size: 3rem;
    line-height: 55px;
    margin-top: 10px;
    letter-spacing: 1px;
}
 
.banner-text span{
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 500;
    color: white;
    font-size: 1.2rem;
}
 
.banner-btn{
    width:170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #0b9d8a;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 14px;
}
.banner-text strong font{
    color: #0b9d8a;
}
 
